.swiper-button-next:after{
    display: none !important;
  }

  .swiper-button-prev:after{
    display: none !important;
  }
  
  .swiper-button-next{
    right: 0 !important;
  }

  .swiper-button-prev{
    left: 0 !important;
  }
  
  .swiper-slide {
      opacity: 0.2;
      transition: opacity 0.3s ease;
  }
  
  .swiper-slide-active {
      opacity: 1;
  }
  
  .swiper-pagination-clickable .swiper-pagination-bullet{
  background-color: white !important;
  border-radius: 0 !important;
  }

  @media (max-width:767.98px) {

    @keyframes slide-left  {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .slide-scroll-left {
    animation: slide-left 20s linear infinite;
  }

  .slide-scroll-left:hover {
    animation-play-state: paused;
  }
  .logo-icon svg{
    width: 49px !important;
  }

}