@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "maisonBold";
  src:url(../public/assets/fonts/maison-neue-bold.woff2) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: "maisonRegular";
  src:url(../public/assets/fonts/maison-neue-regular.woff2) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "maisonMedium";
  src:url(../public/assets/fonts/maison-neue-medium.woff2) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  @font-face {
    font-family: "Sohne Schmal";
    src: url(../public/assets/fonts/TestSohneSchmal-Dreiviertelfett-BF663d89cad1b90.otf)
      format("opentype");
  }